<section>
    <div class="fondo">
        <div class="contenedor">
            <div class="pantalla">
                <div class="pantalla-cabecera">
                    <div class="pantalla-cabecera-izquierda">
                        <div class="pantalla-cabecera-boton cerrar"></div>
                        <div class="pantalla-cabecera-boton maximizar"></div>
                        <div class="pantalla-cabecera-boton minimizar"></div>
                    </div>
                    <div class="pantalla-cabecera-derecha">
                        <div class="pantalla-cabecera-ellipsis"></div>
                        <div class="pantalla-cabecera-ellipsis"></div>
                        <div class="pantalla-cabecera-ellipsis"></div>
                    </div>
                </div>
                <div class="pantalla-cuerpo">
                    <div class="pantalla-cuerpo-elemento izquierda">
                        <div class="app-titulo">
                            <span>REGÍSTRATE</span>
                        </div>
                    </div>
                    <div class="pantalla-cuerpo-elemento">
                        <form [formGroup]="fGroup" (ngSubmit)="enviar()"
                            novalidate>
                            <div class="app-formulario">
                                <div class="app-formulario-grupo">
                                    <input formControlName="nombre"
                                        class="app-formulario-control"
                                        placeholder="NOMBRE">
                                </div>
                                <div class="app-formulario-grupo">
                                    <input formControlName="correo"
                                        class="app-formulario-control"
                                        placeholder="CORREO">
                                </div>
                                <div class="app-formulario-grupo">
                                    <input formControlName="numero"
                                        class="app-formulario-control"
                                        placeholder="NÚMERO">
                                </div>
                                <div class="app-formulario-grupo mensaje">
                                    <input formControlName="mensaje"
                                        class="app-formulario-control"
                                        placeholder="MENSAJE">
                                </div>
                                <div class="app-formulario-grupo botones">
                                    <button type="submit"
                                        class="app-formulario-boton">ENVIAR</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
